<div class="row" *ngIf="offer">
  <div class="col4">
    <div class="card">
      <img src="https://a.cdn-hotels.com/gdcs/production144/d215/966005bf-fde9-415a-ab2b-a6a98eebcd24.jpg?impolicy=fcrop&w=800&h=533&q=medium" alt="" class="card-img-top img-thumbnail" width="100px" height="100px">
      <div class="card-body">
        <strong>Location</strong>
        <p>{{offer.city}}</p>
      </div>

      <div class="card-body">
        <strong>Location</strong>
        <p>{{offer.city}}</p>
      </div>

      <div class="card-body">
        <strong>Location</strong>
        <p>{{offer.city}}</p>
      </div>

    </div>
      <div class="card-footer"><div class="btn-group d-flex">
        <button class="btn btn-primary">Favorite</button>
        <button class="btn btn-success">Message</button>
      </div>
    </div>
  </div>
</div>
