<div *ngIf="(accountService.currentUser$ | async) === null" class="container mt-5">
    <div *ngIf="(registerMode === false)" style="text-align: center;">
        <h1>Sell your car</h1>
        <p class="lead">Hello im under the water</p>
        <div class="test-center">
          <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
          <button class="btn btn-info btn-lg">Learn more</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
      </div>
    </div>
</div>
<div class="container mt-5">
  <hr>
  <app-offer-list></app-offer-list>
</div>
