<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Stjålne Biler</a>
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink="/offers"routerLinkActive="active" >Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active" *ngIf="(accountService.currentUser$ | async)">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/myoffers" routerLinkActive="active" *ngIf="(accountService.currentUser$ | async)">My Offers</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/addoffer" routerLinkActive="active" *ngIf="(accountService.currentUser$ | async)">Add Offer</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/editoffer" routerLinkActive="active" *ngIf="(accountService.currentUser$ | async)">Edit Offer</a>
          </li>
        </ng-container>
      </ul>

      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>{{user.login | titlecase}}</a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>

      <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off"> <!--Async makes that we automatically unsubscribe if our component is no longer visible-->
        <input name="login" [(ngModel)]="model.login" class="form-control me-2" type="text" placeholder="Login">
        <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password" placeholder="Password">
        <button class="btn btn-success" type="submit">Login</button>
      </form>
    </div>
</nav>
