<div class="card mb-4">
  <a routerLink="/offer/{{offer.id}}">
  <div class="card-img-wrapper">
    <img src="{{offer.mainPhotoPath}}" width="500" height="200" alt="{{offer.mainPhotoPath}}" class="card-img-top">
  </div>
  <div class="card-body p-1">
    <h4 class="card-title text-center mt-1">{{offer.brand}} {{offer.model}}</h4>
    <p class="cart-text text-muted text-center">Model Year: {{offer.modelYear}}.</p>
    <p class="cart-text text-muted text-center">Kilometers: {{offer.kilometers}}.</p>
    <p class="cart-text text-muted text-center">Price: {{offer.price}} Kr.</p>
  </div></a>
</div>
