<div class="card mb-4">
  <a routerLink="/offer/{{offer.id}}">
  <div class="card-img-wrapper">
    <img src="https://a.cdn-hotels.com/gdcs/production144/d215/966005bf-fde9-415a-ab2b-a6a98eebcd24.jpg?impolicy=fcrop&w=800&h=533&q=medium" width="500" height="500" alt="beer" class="card-img-top">
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">{{offer.brand}} {{offer.model}}</h6>
    <p class="cart-text text-muted text-center">Model Year: {{offer.modelYear}}.</p>
    <p class="cart-text text-muted text-center">Kilometers: {{offer.kilometers}}.</p>
    <p class="cart-text text-muted text-center">Price: {{offer.price}} Kr.</p>
  </div></a>
</div>
