<form #addOfferForm="ngForm" (ngSubmit)="addOffer()" autocomplete="off">
  <h2 class="text-center text-primary">Add Offer</h2>
  <hr>
  <div class="form-group">
    <input type="text" class="form-control" name="category" [(ngModel)]="model.category" placeholder="Category">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="brand" [(ngModel)]="model.brand" placeholder="Brand">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="model" [(ngModel)]="model.model" placeholder="Model">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="modelyear" [(ngModel)]="model.modelYear" placeholder="Model Year">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="kilometers" [(ngModel)]="model.kilometers" placeholder="Kilometers">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="enginesize" [(ngModel)]="model.engineSize" placeholder="Engine Size">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="horsepowers" [(ngModel)]="model.horsepowers" placeholder="Horsepowers">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="fuel" [(ngModel)]="model.fuel" placeholder="Fuel">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="gearbox" [(ngModel)]="model.gearbox" placeholder="Gearbox">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="color" [(ngModel)]="model.color" placeholder="Color">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="price" [(ngModel)]="model.price" placeholder="Price">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="post" [(ngModel)]="model.post" placeholder="Post">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="city" [(ngModel)]="model.city" placeholder="City">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="description" [(ngModel)]="model.description" placeholder="Description">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success me-2" type="submit">Add</button>
    <button class="btn btn-success me-2" type="button" routerLink="/offers"routerLinkActive="active">Cancel</button>
  </div>
</form>
