<div class="addOfferContainer">
  <form [formGroup]="addOfferForm" (ngSubmit)="addOfferForm.valid && addOffer()" autocomplete="off">
    <h2 class="text-center text-primary">Add Offer</h2>
    <hr>

    <div class="leftDiv">
      <div class="form-group">
        <select class="form-select" [class.is-invalid]="addOfferForm.get('category').errors && addOfferForm.get('category').touched" formControlName="category">
          <option value="" disabled selected>Select category</option>
          <option value="Coupe">Coupe</option>
          <option value="Hatchback">Hatchback</option>
          <option value="Sedan">Sedan</option>
          <option value="Wagon">Wagon</option>
          <option value="Suv">SUV</option>
          <option value="Van">VAN</option>
          <option value="Cabriolet">Cabriolet</option>
          <option value="Other">Other</option>
        </select>
        <div *ngIf="addOfferForm.get('category').hasError('required')" class="invalid-feedback">Please enter a category</div>
      </div>

      <div class="form-group">
        <select class="form-select" [class.is-invalid]="addOfferForm.get('brand').errors && addOfferForm.get('brand').touched" formControlName="brand">
          <option value="" disabled selected>Select brand</option>
          <option value="Alfa Romeo">Alfa Romeo</option>
          <option value="Audi">Audi</option>
          <option value="BMW">BMW</option>
          <option value="Chevrolet">Chevrolet</option>
          <option value="Citroen">Citroen</option>
          <option value="Daewoo">Daewoo</option>
          <option value="Ferrari">Ferrari</option>
          <option value="Fiat">Fiat</option>
          <option value="Ford">Ford</option>
          <option value="Honda">Honda</option>
          <option value="Lamborghini">Lamborghini</option>
          <option value="Lexus">Lexus</option>
          <option value="Mazda">Mazda</option>
          <option value="Mercedes-Benz">Mercedes-Benz</option>
          <option value="Mitsubitshi">Mitsubitshi</option>
          <option value="Nissan">Nissan</option>
          <option value="Peugeot">Peugeot</option>
          <option value="Porshe">Porshe</option>
          <option value="Renault">Renault</option>
          <option value="Rover">Rover</option>
          <option value="Saab">Saab</option>
          <option value="Skoda">Skoda</option>
          <option value="Subaru">Subaru</option>
          <option value="Toyota">Toyota</option>
          <option value="Volksagen">Volkswagen</option>
        </select>
        <div *ngIf="addOfferForm.get('brand').hasError('required')" class="invalid-feedback">Please enter a brand</div>
      </div>

      <div class="form-group">
        <input [class.is-invalid]="addOfferForm.get('model').errors && addOfferForm.get('model').touched"
        type="text"
        class="form-control"
        formControlName="model"
        placeholder="Model"
        maxlength="30">
        <div *ngIf="addOfferForm.get('model').hasError('required')" class="invalid-feedback">Please enter a model</div>
      </div>

      <div class="form-group">
        <select class="form-select" [class.is-invalid]="addOfferForm.get('modelYear').errors && addOfferForm.get('modelYear').touched" formControlName="modelYear">
          <option value="" disabled selected>Select model year</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
          <option value="2010">2010</option>
          <option value="2009">2009</option>
          <option value="2008">2008</option>
          <option value="2007">2007</option>
          <option value="2006">2006</option>
          <option value="2005">2005</option>
          <option value="2004">2004</option>
          <option value="2003">2003</option>
          <option value="2002">2002</option>
          <option value="2001">2001</option>
          <option value="2000">2000</option>
          <option value="1999">1999</option>
          <option value="1998">1998</option>
          <option value="1997">1997</option>
          <option value="1996">1996</option>
          <option value="1995">1995</option>
          <option value="1994">1994</option>
          <option value="1993">1993</option>
          <option value="1992">1992</option>
          <option value="1991">1991</option>
          <option value="1990">1990</option>
          <option value="1989">1989</option>
          <option value="1988">1988</option>
          <option value="1987">1987</option>
          <option value="1986">1986</option>
          <option value="1985">1985</option>
          <option value="1984">1984</option>
          <option value="1983">1983</option>
          <option value="1982">1982</option>
          <option value="1981">1981</option>
          <option value="1980">1980</option>
          <option value="1979">1979</option>
          <option value="1978">1978</option>
          <option value="1977">1977</option>
          <option value="1976">1976</option>
          <option value="1975">1975</option>
          <option value="1974">1974</option>
          <option value="1973">1973</option>
          <option value="1972">1972</option>
          <option value="1971">1971</option>
          <option value="1970">1970</option>
        </select>
        <div *ngIf="addOfferForm.get('modelYear').hasError('required')" class="invalid-feedback">Please enter a model year</div>
      </div>

      <div class="form-group">
        <input [class.is-invalid]="addOfferForm.get('kilometers').errors && addOfferForm.get('kilometers').touched"
        type="text"
        class="form-control"
        formControlName="kilometers"
        placeholder="Kilometers"
        maxlength="7">
        <div *ngIf="addOfferForm.get('kilometers').hasError('required')" class="invalid-feedback">Please enter a kilometers</div>
        <div *ngIf="addOfferForm.get('kilometers').hasError('pattern')" class="invalid-feedback">Please enter a numbers</div>
      </div>

      <div class="form-group">
        <input [class.is-invalid]="addOfferForm.get('engineSize').errors && addOfferForm.get('engineSize').touched"
        type="text"
        class="form-control"
        formControlName="engineSize"
        placeholder="Engine Size"
        maxlength="5">
        <div *ngIf="addOfferForm.get('engineSize').hasError('required')" class="invalid-feedback">Please enter a engine size</div>
        <div *ngIf="addOfferForm.get('engineSize').hasError('pattern')" class="invalid-feedback">Please enter a numbers</div>
      </div>

      <div class="form-group">
        <input [class.is-invalid]="addOfferForm.get('horsepowers').errors && addOfferForm.get('horsepowers').touched"
        type="text"
        class="form-control"
        formControlName="horsepowers"
        placeholder="Horsepowers"
        maxlength="4">
        <div *ngIf="addOfferForm.get('horsepowers').hasError('required')" class="invalid-feedback">Please enter a horsepowers</div>
        <div *ngIf="addOfferForm.get('horsepowers').hasError('pattern')" class="invalid-feedback">Please enter a numbers</div>
      </div>

      <div class="form-group">
        <select class="form-select" [class.is-invalid]="addOfferForm.get('fuel').errors && addOfferForm.get('fuel').touched" formControlName="fuel">
          <option value="" disabled selected>Select fuel</option>
          <option value="Gas">Gas</option>
          <option value="Diesel">Diesel</option>
          <option value="Hybrid">Hybrid</option>
          <option value="Electric">Electric</option>
        </select>
        <div *ngIf="addOfferForm.get('fuel').hasError('required')" class="invalid-feedback">Please enter a fuel</div>
      </div>

      <div class="form-group">
        <select class="form-select" [class.is-invalid]="addOfferForm.get('gearbox').errors && addOfferForm.get('gearbox').touched" formControlName="gearbox">
          <option value="" disabled selected>Select gearbox</option>
          <option value="Manual">Manual</option>
          <option value="Automatic">Automatic</option>
        </select>
        <div *ngIf="addOfferForm.get('gearbox').hasError('required')" class="invalid-feedback">Please enter a gearbox</div>
      </div>

      <div class="form-group">
        <select class="form-select" [class.is-invalid]="addOfferForm.get('color').errors && addOfferForm.get('color').touched" formControlName="color">
          <option value="" disabled selected>Select color</option>
          <option value="Blue">Blue</option>
          <option value="White">White</option>
          <option value="Black">Black</option>
          <option value="Red">Red</option>
          <option value="Yellow">Yellow</option>
          <option value="Green">Green</option>
          <option value="Pink">Pink</option>
          <option value="Purple">Purple</option>
          <option value="Brown">Brown</option>
          <option value="Other">Other</option>
        </select>
        <div *ngIf="addOfferForm.get('color').hasError('required')" class="invalid-feedback">Please enter a color</div>
      </div>

      <div class="form-group">
        <input [class.is-invalid]="addOfferForm.get('price').errors && addOfferForm.get('price').touched"
        type="text"
        class="form-control"
        formControlName="price"
        placeholder="Price"
        maxlength="7">
        <div *ngIf="addOfferForm.get('price').hasError('required')" class="invalid-feedback">Please enter a price</div>
        <div *ngIf="addOfferForm.get('price').hasError('pattern')" class="invalid-feedback">Please enter a numbers</div>
      </div>

      <div class="form-group">
        <input [class.is-invalid]="addOfferForm.get('post').errors && addOfferForm.get('post').touched"
        type="text"
        class="form-control"
        formControlName="post"
        placeholder="Post"
        maxlength="4">
        <div *ngIf="addOfferForm.get('post').hasError('required')" class="invalid-feedback">Please enter a post</div>
        <div *ngIf="addOfferForm.get('post').hasError('pattern')" class="invalid-feedback">Please enter a numbers</div>
        <div *ngIf="addOfferForm.get('post').hasError('minlength')" class="invalid-feedback">Post must be 4 numbers</div>
      </div>

      <div class="form-group">
        <input [class.is-invalid]="addOfferForm.get('city').errors && addOfferForm.get('city').touched"
        type="text"
        class="form-control"
        formControlName="city"
        placeholder="City">
        <div *ngIf="addOfferForm.get('city').hasError('required')" class="invalid-feedback">Please enter a city</div>
      </div>

      <div class="form-group">
        <input [class.is-invalid]="addOfferForm.get('tlfnr').errors && addOfferForm.get('tlfnr').touched"
        type="text"
        class="form-control"
        formControlName="tlfnr"
        placeholder="Tlfnr"
        maxlength="8">
        <div *ngIf="addOfferForm.get('tlfnr').hasError('required')" class="invalid-feedback">Please enter a number</div>
        <div *ngIf="addOfferForm.get('tlfnr').hasError('minlength')" class="invalid-feedback">Tlf must have 8 numbers</div>
        <div *ngIf="addOfferForm.get('tlfnr').hasError('pattern')" class="invalid-feedback">Please enter a numbers</div>
      </div>
    </div>

    <div class="rightDiv">
      <div class="form-group">
        <textarea [class.is-invalid]="addOfferForm.get('description').errors && addOfferForm.get('description').touched"
        type="text"
        class="form-control"
        formControlName="description"
        placeholder="Description"  cols="30" rows="15"></textarea>
        <div *ngIf="addOfferForm.get('description').hasError('required')" class="invalid-feedback">Please enter a description</div>
      </div>
    </div>






    <div class="form-group text-center">
      <button [disabled]="!addOfferForm.valid" class="btn btn-success me-2" type="submit">Add</button>
      <button class="btn btn-danger me-2" type="button" routerLink="/offers"routerLinkActive="active">Cancel</button>
    </div>
  </form>

</div>
